@model IEnumerable<PF_Pach_OS.Models.Proveedore>

<link href="~/css/estilos-generales.css" rel="stylesheet" /> 
<link href="~/css/proveedor/estilos.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body" data-url="/DetalleVentas/DetallesVentas?IdVenta=">
                Cargando...
            </div>
        </div>
    </div>
</div>

<button id="btnNuevo" class="estilo-btn-naranja btn-crear-posicion" title="Crear Proveedor">Crear Proveedor</button>

<input type="text" class="buscador" id="searchInput" placeholder="Buscar" aria-label="Buscar" aria-describedby="search-addon">


<div class="lista-proveedores rounded border">
    <table class="table mb-0 table-bordered table-striped">
        <thead class="table-warning">
            <tr>
                <th>Tipo Documento</th>
                <th>N° Documento</th>
                <th>Proveedor</th>
                <th class="d-none d-md-table-cell">Dirección</th>
                <th class="d-none d-md-table-cell">Teléfono</th>
                <th class="d-none d-md-table-cell">Correo</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TipoDocumento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nit)</td>
                    <td>@Html.DisplayFor(modelItem => item.NomLocal)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.Direccion)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.Correo)</td>
                    <td class="d-flex">
                        <a class="btnEditar cursor-pointer" data-id="@item.IdProveedor" data-toggle="modal" title="Editar" id="btnEditar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="orange" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </a>
                        @if (item.Estado == 0)
                        {
                            <form asp-action="Disable" asp-route-id="@item.IdProveedor" method="post" class="align-self-end" id="Deshabilitar">
                                <button type="submit" class="btn btn-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Enable" asp-route-id="@item.IdProveedor" method="post" class="align-self-end" id="Habilitar">
                                <button type="submit" class="btn btn-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    var searchInput = $('#searchInput');

    $('#searchInput').on('input', function () {
        var searchText = $(this).val().trim().toLowerCase();


        $('tbody tr').each(function () {
            var tipoDocumento = $(this).find('td:eq(0)').text().trim().toLowerCase();
            var numero = $(this).find('td:eq(1)').text().trim().toLowerCase();
            var proveedor = $(this).find('td:eq(2)').text().trim().toLowerCase();
            var direccion = $(this).find('td:eq(3)').text().trim().toLowerCase();
            var telefono = $(this).find('td:eq(4').text().trim().toLowerCase();
            var correo = $(this).find('td:eq(5').text().trim().toLowerCase();

            if (
                tipoDocumento.includes(searchText) ||
                numero.includes(searchText) ||
                proveedor.includes(searchText) ||
                direccion.includes(searchText) ||
                telefono.includes(searchText) ||
                correo.includes(searchText)
            ) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });
</script>

<script src="~/js/proveedores/proveedore.js"></script>
