@model IEnumerable<PF_Pach_OS.Models.Proveedore>
<link href="~/css/proveedores.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}


@*<p>
    <a asp-action="Create">Create New</a>
</p>
*@
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <div id="create-result"></div>
                <div id="modal-content">
                    Cargando....
                </div>
            </div>
        </div>
    </div>
</div>


<button id="btnNuevo" class="estilo-btn-naranja btn-crear-posicion" data-toggle="modal" data-target="#myModal">Crear Proveedor</button>
<script>
    //document.getElementById("btnNuevo").addEventListener("click", function () {
    //    $('#myModal').modal('show');
    //    $('#myModal').on('hidden.bs.modal', function () {
    //        location.reload(); // Hacer un refresh al cerrar el modal
    //    });
    //});
</script>

<div class="lista-proveedores">
    <div class="row p-3">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <article class="card card__content">
                    <header>
                    </header>
                    <main class="card__body">
                        <div class="d-flex justify-content-center">
                            <h1 class="title--primary">@Html.DisplayFor(modelItem => item.NomLocal)</h1>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="row">
                                <span class="letra-pequeña text-muted">Telefono</span>
                                <span>@Html.DisplayFor(modelItem => item.Telefono)</span>
                            </div>
                            <div class="row">
                                <span class="letra-pequeña text-muted">Correo</span>
                                <span>@Html.DisplayFor(modelItem => item.Correo)</span>
                            </div>
                        </div>
                        <div class="d-flex pt-2 justify-content-around align-content-end">
                            <a class="btnEditar cursor-pointer" data-id="@item.IdProveedor" data-toggle="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                </svg>
                            </a>
                            @if (item.Estado == 0)
                            {
                                <form asp-action="Disable" asp-route-id="@item.IdProveedor" method="post" class="align-self-end">
                                    <button type="submit" class="btn btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form asp-action="Enable" asp-route-id="@item.IdProveedor" method="post" class="align-self-end">
                                    <button type="submit" class="btn btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </button>
                                </form>
                            }
                        </div>
                    </main>

                </article>
            </div>
        
        }
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btnEditar").click(function () {
            var idProveedor = $(this).data("id");
            $("#modal-content").load("/Proveedores/Edit/" + idProveedor);
            $('#myModal').modal('show');
        });
    });
</script>

@section scripts
{
    <script src="~/js/proveedores/proveedore.js"></script>
}