@model PF_Pach_OS.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
    Layout = null;
}



<div>
    <span class="fs-5">
        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
    </span>

    <hr />

    <div class="col-12">
        <dl class="row">

            <dt class="col-6">
                Correo
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-6">
                Documento
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.DocumentType)
            </dd>
            <dt class="col-6">
                N.Documento
            </dt>

            <dd class="col-6">
                @Html.DisplayFor(model => model.DocumentNumber)
            </dd>
            <dt class="col-6">
                Entrada
            </dt>
            <dd class="col-6">


                @Model.EntryDay.ToShortDateString()



            </dd>


            <dt class="col-6">
                Rol
            </dt>
            <dd class="col-6">
                @ViewBag.NombrePermisoActivo
            </dd>
        </dl>
    </div>
</div>
<div>
</div>
