@model PF_Pach_OS.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
    Layout = null;
}



<div>
    <span class="fs-5">
        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
    </span>

    <hr />


    <dl class="row">

        <dt class="col-sm-1">
            Correo
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-1">
            Documento
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.DocumentType)
        </dd>
        <dt class="col-sm-1">
            N.Documento
        </dt>

        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>
        <dt class="col-sm-1">
            Entrada
        </dt>
        <dd class="col-sm-12">


            @Model.EntryDay.ToShortDateString()



        </dd>


        <dt class="col-sm-1">
            Rol
        </dt>
        <dd class="col-sm-12">
            @ViewBag.NombrePermisoActivo
        </dd>
    </dl>
</div>
<div>
</div>
