@model PF_Pach_OS.Models.Asignar_Permisos

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<link href="~/css/RolPermisos/CreaEditar.css" rel="stylesheet" />

<div>
    <div class="col-12">
        <form id="formulario1" asp-action="Index" asp-controller="RolPermisos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="idrol" asp-for="rol.IdRol" value="@ViewBag.rol.IdRol" />
            <div class="form-group">
                <label asp-for="rol.NomRol" class="control-label">Nombre del rol * </label>
                <input type="text" title="Aqui puedes ingresar el nombre del rol por el que quieres resplasar el actual" class="form-control" asp-for="rol.NomRol" id="nomrol" value="@ViewBag.rol.NomRol" />
                <span id="mensaje_nombre" class="invalid-feedback"></span>
            </div>

            <div class="row">

                <label class="control-label">Permisos *</label>

                @if (ViewBag.Permisos != null)
                {

                    @foreach (var valor in (List<dynamic>)ViewBag.Permisos)
                    {
                        var isChecked = ((List<dynamic>)ViewBag.PermisosUsados).Any(item => item.IdPermiso == valor.id_permiso);

                        <div class="form-check form-switch col-6 row pb-2">
                            <label class="form-check-label col-6 tamaño_letra"  for="flexSwitchCheckDefault">@valor.nom_permiso</label>
                            <input class="form-check-input col-6" title="Presione para habilitar/ dehabilitar este permiso a este rol" id="flexSwitchCheckDefault" type="checkbox" name="ValoresSeleccionados" value="@valor.id_permiso" @(isChecked ? "checked" : "") />
                        </div>
                    }
                    
                }
                else
                {
                    <p>La lista de permisos es nula.</p>
                }

            </div>

            <button type="submit" id="btnEnviar" title="Con este boton actualizas el rol" class="btn btn-primary botones-agregar mt-3">Actualizar Rol</button>

        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/js/RolPermisos/Editar.js"> </script>