@model PF_Pach_OS.Models.Asignar_Permisos

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<h5 id="titulo-modal">Editar Rol</h5>
<div class="row">
    <div class="col-md-4">
        <form id="formulario1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="idrol" asp-for="rol.IdRol" value="@ViewBag.rol.IdRol" />
            <div class="form-group">
                <label asp-for="rol.NomRol" class="control-label"></label>
                <input type="text" class="form-control" asp-for="rol.NomRol" id="nomrol" value="@ViewBag.rol.NomRol" />
                <span id="mensaje_nombre" class="invalid-feedback"></span>
            </div>
            <div class="form-group row">
                @if (ViewBag.Permisos != null)
                {
                    @foreach (var valor in (List<dynamic>)ViewBag.Permisos)
                    {
                        var isChecked = ((List<dynamic>)ViewBag.PermisosUsados).Any(item => item.IdPermiso == valor.id_permiso);
                        <input class="col-2" type="checkbox" name="ValoresSeleccionados" value="@valor.id_permiso" @(isChecked ? "checked" : "") />
                        <label class="col-10">@valor.nom_permiso</label>
                    }

                }
                else
                {
                    <p>La lista de permisos es nula.</p>
                }
            </div>

            <button type="submit" id="btnEnviar" class="btn estilo-btn-naranja">Actualizar Rol</button>

        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/js/RolPermisos/Editar.js"> </script>