@model IEnumerable<PF_Pach_OS.Models.RolPermiso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.NomRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRolPermisos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRolPermisos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRolPermisos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
