@model Tuple<DetalleVenta, Venta>;
@using System.Globalization;
@{
    Venta venta = Model.Item2;
    ViewData["Title"] = "Crear Venta";
    var detallesVentas = ViewData["DetallesVentas"] as List<DetalleVenta>;
}

<link href="~/css/ventas/detalleventa.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="d-flex p-2 contendorVenta">
    <div class="container">
        <div class="col-12">
            <form id="formAgregar" class="row g-2 needs-validation formulario-detalles" asp-controller="DetalleVentas" asp-action="AgregarDetalle" method="post" novalidate>
                <input type="number" value="@ViewBag.IdVenta" name="IdVenta" asp-for="Item2.IdVenta" hidden>
                <div class="col-4">
                    <label>Producto *</label>
                    <select class="form-control form-select" aria-label="Default select example" asp-for="Item1.IdProducto" asp-items="ViewBag.IdProducto" name="IdProducto" title="Seleccione el producto a vender" required>
                        <option value="NA">-Seleccione-</option>
                        <option value="2">Pizzas (Pequeñas)</option>
                        <option value="3">Pizzas (Grandes)</option>
                        <option value="4">Pizzas (Familiares)</option>

                    </select>
                    <span id="productoMensaje" class="invalid-feedback"></span>
                    <span class="valid-feedback"></span>
                </div>

                <div class="col-3">
                    <label>Cantidad *</label>
                    <input type="number" class="form-control" asp-for="Item1.CantVendida" name="CantVendida" placeholder="Cantidad" min="0" title="Ingrese la cantidad del producto a vender" required />
                    <span id="cantidadMensaje" class="invalid-feedback"></span>
                    <span class="valid-feedback"></span>
                </div>

                <div class="col-4 d-flex align-items-end DivBotonAgregar">
                    <button class="btn btn-primary botones-agregar" type="submit" title="presione para agregar el producto a la venta">
                        Agregar
                    </button>
                </div>
            </form>
        </div>

        <div class="mt-3 bg-white tablaDetallesVentas" style="max-height: 30rem; overflow-y: auto;">
            <hr>
            <table class="table border rounded table-borderless mb-0 tablaDetalles-ventas">
                <thead>
                    <tr class="text-gray bg-gray-300">
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="detalles-ventas">
                    @foreach (var detalles in detallesVentas)
                    {
                        float? totalDetalle = detalles.Precio * detalles.CantVendida;
                        <tr>
                            <td class="d-flex">
                                @detalles.IdProductoNavigation.NomProducto
                                @if (detalles.IdProducto > 1 && detalles.IdProducto <= 4)
                                {
                                    <div class="dropdown ml-2" title="Presione la flecha para mostrar los sabores de la pizza">
                                        <span class="dropdown-toggle" id="dropdown-detallesSabores-@detalles.IdDetalleVenta" data-iddetalleventa="@detalles.IdDetalleVenta">
                                            <i class="bi bi-caret-down-fill"></i>
                                        </span>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown-detallesSabores-@detalles.IdDetalleVenta">
                                        </ul>
                                    </div>
                                }
                            </td>
                            <td>@detalles.CantVendida</td>
                            <td>
                                @(detalles.Precio.HasValue ? (detalles.Precio % 1 == 0
                                    ? ((decimal)detalles.Precio).ToString("C0", new CultureInfo("es-CO")).Replace(",", ".")
                                    : ((decimal)detalles.Precio).ToString("C0", new CultureInfo("es-CO")).Replace(",", "."))
                                    : "Sin Precio")
                            </td>
                            <td>
                                @(totalDetalle.HasValue ? (totalDetalle % 1 == 0
                                    ? ((decimal)totalDetalle).ToString("C0", new CultureInfo("es-CO")).Replace(",", ".")
                                    : ((decimal)totalDetalle).ToString("C0", new CultureInfo("es-CO")).Replace(",", "."))
                                    : "Sin Precio")
                            </td>
                            <td class="d-flex">
                                @if (detalles.Estado != "Descontado")
                                {
                                    <form method="post">
                                        <input type="submit" asp-controller="DetalleVentas" asp-action="EliminarDetalle" asp-route-id="@detalles.IdDetalleVenta" class="btn btn-outline-danger" id="btnEliminar" value="Eliminar" title="Presione para eliminar el producto de esta venta">
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="col-4  bg-white rounded border px-4 py-4 factura h-100">
        <form asp-action="ConfirmarVenta" method="post" class="detail-container h-100" id="formVentas" novalidate>
            <input asp-for="Item2.IdVenta" type="number" value="@ViewBag.IdVenta" name="IdVenta" hidden>
            <div>
                <div class="d-flex fecha mb-3">
                    <span class="text-gray position-absolute text-end" id="fecha-hora"></span>
                    <input asp-for="Item2.FechaVenta" type="text" id="fecha-input" name="FechaVenta" hidden>
                </div>

                <div class="row">
                    <div class="col-6">
                        <span>
                            <strong>NIT: <br></strong>1152706792<br>

                            <strong>Cajero: <br></strong>@ViewBag.NombreUsuario
                        </span>
                    </div>
                    <div class="col-6 justify-content-center align-self-center">
                        <img class="logoEmpresa" src="~/img/Logo_Empresa.jpg">
                    </div>


                    <input type="text" asp-for="Item2.IdEmpleado" name="IdEmpleado" value="@ViewBag.NombreUsuario" hidden readonly>
                </div>

                <hr>

                <div>
                    <div class="row">
                        <span class="col-7">Mesa</span>
                        <select asp-for="Item2.Mesa" name="Mesa" id="Mesa" name="Mesa" class="col-5 form-select" title="Seleccione en donde se entregará la venta, Si es diferente de general la cuenta será abierta">
                            <option value="General">General</option>
                            <option value="Barra Interior">Barra Interior</option>
                            <option value="Barra Exterior">Barra Exterior</option>
                            <option value="Mesa 1">Mesa 1</option>
                            <option value="Mesa 2">Mesa 2</option>
                            <option value="Mesa 3">Mesa 3</option>
                            <option value="Mesa 4">Mesa 4</option>
                            <option value="Mesa 5">Mesa 5</option>

                        </select>
                    </div>
                    <div class="row mt-2" id="campo-domicilio">
                        <span class="col-8">Domicilio</span>
                        <input asp-for="Item2.PagoDomicilio" type="number" id="domicilio" name="PagoDomicilio" class="col-4 form-control text-end" value="0" min="0" title="Ingrese el pago al domiciliario (opcional)">
                        <span id="domicilioMensaje" class="invalid-feedback"></span>
                        <span class="valid-feedback"></span>
                    </div>

                    <div class="row mt-2">
                        <div class="col-8">
                            <select asp-for="Item2.TipoPago" name="TipoPago" class="col-12 form-select" title="Seleccione el metodo de pago">
                                <option value="Efectivo">Efectivo</option>
                                <option value="Transferencia">Transferencia</option>
                                <option value="Cuenta abierta">Cuenta abierta</option>
                            </select>

                        </div>
                        <input asp-for="Item2.Pago" type="number" id="pago" name="Pago" class="col-4 form-control text-end" placeholder="0" title="Ingrese el total de dinero que se recibió" value="0" required>
                        <div id="pagoMensaje" class="invalid-feedback"></div>
                        <div class="valid-feedback"></div>
                    </div>

                    <div class="row mt-2">
                        <span class="col-8">Cambio al cliente</span>
                        <span class="col-4 text-end" id="texto-cambio">0</span>
                    </div>


                </div>

                <hr>

                <div class="d-flex flex-column align-items-center justify-content-between">
                    <p class="mb-0 display-4">
                        <strong id="totalVenta">
                        </strong>
                    </p>
                    <input type="number" asp-for="Item2.TotalVenta" id="totalVenta-input" name="TotalVenta" value="@ViewBag.Total" hidden>
                    <p class="mb-0">Total</p>
                </div>
                @*<input type="hidden" asp-for="Item2.Total" value="@total" />*@

                <hr>
                <div class="w-100 d-flex flex-column mt-auto">
                    <button class="btn btn-primary botones-agregar" type="submit" title="Presione para confirmar la venta">Realizar venta</button>
                    @if (venta.Estado == null)
                    {
                        <a class="btn btn-outline-danger border mt-2 cancelarCompraBtn" asp-controller="Ventas" asp-action="CancelarVenta" asp-route-IdVenta="@ViewBag.IdVenta" title="Presione para cancelar la venta">Cancelar venta</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Ventas" class="btn btn-outline-danger border mt-2" id="links-modulos" title="Presione para volver al listado de ventas">Volver</a>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="titulo-modal"></h3>
                <button id="cerrar" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body" data-url="/Ventas/DetallesVentas?IdVenta=">
                Cargando Sabores de pizza...
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/js/ventas/ventas.js"></script>
<script src="~/js/Ventas/Validaciones.js"></script>