<link href="~/css/ventas.css" rel="stylesheet" />

@model Tuple<DetalleVenta, Venta>;
@{
    ViewData["Title"] = "Crear Venta";
    var detallesVentas = ViewData["DetallesVentas"] as List<DetalleVenta>;
}
    
<div class="d-flex p-4">
    <div class="container">
        <div class="col-12">
            <form id="formAgregar" class="row g-2 needs-validation formulario-detalles" asp-controller="DetalleVentas" asp-action="AgregarDetalle" method="post" novalidate>
                <input type="number" value="@ViewBag.IdVenta" name="IdVenta" hidden>
                <div class="col-4">
                    <label>Producto</label>
                    <select class="form-control form-select" aria-label="Default select example" asp-for="Item1.IdProducto" asp-items="ViewBag.IdProducto" name="IdProducto" required>
                        <option></option>
                    </select>
                    <div class="invalid-feedback">
                        Por favor seleccione un Producto.
                    </div>
                    <div class="valid-feedback">
                        ¡Todo bien!
                    </div>
                </div>
           
                <div class="col-2">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" asp-for="Item1.CantVendida" name="CantVendida" required/>
                    <div class="invalid-feedback">
                        Por favor ingrese una cantidad.
                    </div>
                    <div class="valid-feedback">
                        ¡Todo bien!
                    </div>
                </div>
            
                <div class="col-4 d-flex align-items-end">
                    <button class="btn btn-primary botones-agregar" type="submit">
                        Agregar Producto
                    </button>
                </div>
            </form>
        </div>
        <hr>
        <div class=" col-11 lista-detalles">
            <table class="table table-striped-columns tabla-detalles">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="detalles-ventas">
                    @foreach (var detalles in detallesVentas)
                    {
                        <tr>
                            <td >@detalles.IdProductoNavigation.NomProducto</td>
                            <td>@detalles.CantVendida</td>
                            <td>@detalles.Precio</td>
                            <td id="texto-total"></td>
                            <td><a asp-controller="DetalleVentas" asp-action="Delete" asp-route-id="@detalles.IdDetalleVenta" class="btn btn-outline-danger">Remover</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4  bg-white rounded border px-4 py-4">
        <form asp-action="ConfirmarVenta" method="post" class="detail-container">
            <input asp-for="Item2.IdVenta"  type="number" value="@ViewBag.IdVenta" name="IdVenta" hidden>
            <div>
                <div class="w-100 d-flex flex-column mb-3 align-items-center">
                    <p class="w-100 h4 mb-3 text-center"><strong>Pachito-OS</strong></p>
                </div>

                <hr>

                <div>
                    <div class="d-flex justify-content-between">
                        <p class="">Domicilio</p>
                        <input asp-for="Item2.PagoDomicilio" type="number" id="domicilio" name="PagoDomicilio" class="tamano-input" value="0">
                    </div>
                    <div class="d-flex justify-content-between">
                        <select asp-for="Item2.TipoPago" name="TipoPago" class="estilo-select">
                            <option value="efectivo">Efectivo</option>
                            <option value="transferencia">Transferencia</option>
                            <option value="ambos">Efectivo/Transferencia</option>
                        </select>
                        <input asp-for="Item2.Pago" type="number" id="pago" name="Pago" class="tamano-input" value="0">
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Cambio</p>
                        <p class="ms-auto" id="texto-cambio">0</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Fecha</p>
                        <label class="ms-auto" id="fecha-hora"></label>
                        <input asp-for="Item2.FechaVenta" type="text" id="fecha-input" name="FechaVenta" hidden>
                    </div>

                </div>
                <hr>
                <div class="d-flex flex-column align-items-center justify-content-between">
                    <p class="mb-0 display-4"><strong id="totalVenta">0</strong></p>
                    <input asp-for="Item2.TotalVenta" id="totalVenta-input" name="TotalVenta" hidden>
                    <p class="mb-0">Total</p>
                </div>
                @*<input type="hidden" asp-for="Item2.Total" value="@total" />*@

                <hr>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary botones-agregar" type="submit">Realizar venta</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/Ventas.js"></script>

@*-----VALIDACION DE CAMPOS EN TIEMPO REAL-----*@
@*<script>
    $(document).ready(function () {
        // Manejar el evento de cambio en el campo de PrecioInsumo
        $('#Item1_PrecioInsumo').on('input', function () {
            validatePrecioInsumo();
        });

        // Manejar el evento de cambio en el campo de Cantidad
        $('#Item1_Cantidad').on('input', function () {
            validateCantidad();
        });

        function validatePrecioInsumo() {
            var precioInsumo = $('#Item1_PrecioInsumo').val();
            if (precioInsumo === '' || isNaN(precioInsumo)) {
                $('#Item1_PrecioInsumo').addClass('is-invalid');
            } else {
                $('#Item1_PrecioInsumo').removeClass('is-invalid');
            }
        }

        function validateCantidad() {
            var cantidad = $('#Item1_Cantidad').val();
            if (cantidad === '' || isNaN(cantidad)) {
                $('#Item1_Cantidad').addClass('is-invalid');
            } else {
                $('#Item1_Cantidad').removeClass('is-invalid');
            }
        }

    });
</script>

@-----VALIDACION DE LOS CAMPOS CUANDO SE LE DA AL BOTON DE AGREGAR-----@
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>*@