@model Tuple<DetalleVenta, Venta>;
@{
    ViewData["Title"] = "Crear Venta";
    var detallesVentas = ViewData["DetallesVentas"] as List<DetalleVenta>;
}

<link href="~/css/ventas.css" rel="stylesheet" />
<link href="~/css/detalleventa.css" rel="stylesheet" />

<div class="d-flex p-4">
    <div class="container">
        <div class="col-12">
            <form id="formAgregar" class="row g-2 needs-validation formulario-detalles" asp-controller="DetalleVentas" asp-action="AgregarDetalle" method="post" novalidate>
                <input type="number" value="@ViewBag.IdVenta" name="IdVenta" hidden>
                <div class="col-4">
                    <label>Producto</label>
                    <select class="form-control form-select" aria-label="Default select example" asp-for="Item1.IdProducto" asp-items="ViewBag.IdProducto" name="IdProducto" required>
                        <option></option>
                    </select>
                    <div class="invalid-feedback">Por favor seleccione un producto</div>
                </div>

                <div class="col-3">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" asp-for="Item1.CantVendida" name="CantVendida" min="0" required />
                    <div class="invalid-feedback">
                        Por favor ingrese una cantidad mayor a 0.
                    </div>
                </div>

                <div class="col-4 d-flex align-items-end">
                    <button class="btn btn-primary botones-agregar" type="submit" title="Agreagar producto a la venta">
                        Agregar Producto
                    </button>
                </div>
            </form>
        </div>
        <hr>

        <div class="mt-3 border rounded bg-white">
            <table class="table table-borderless mb-0">
                <thead>
                    <tr class="text-gray bg-gray-300">
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="detalles-ventas">
                    @foreach (var detalles in detallesVentas)
                    {
                        <tr>
                            <td>@detalles.IdProductoNavigation.NomProducto</td>
                            <td>@detalles.CantVendida</td>
                            <td>@detalles.Precio</td>
                            <td id="texto-total"></td>
                            <td><a asp-controller="DetalleVentas" asp-action="Delete" asp-route-id="@detalles.IdDetalleVenta" class="btn btn-outline-danger">Remover</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-4  bg-white rounded border px-4 py-4 factura">
        <form asp-action="ConfirmarVenta" method="post" class="detail-container" novalidate>
            <input asp-for="Item2.IdVenta" type="number" value="@ViewBag.IdVenta" name="IdVenta" hidden>
            <div>
                <div class="d-flex fecha">
                    <span class="text-gray position-absolute text-end" id="fecha-hora"></span>
                    <input asp-for="Item2.FechaVenta" type="text" id="fecha-input" name="FechaVenta" hidden>
                </div>

                <div class="w-100 d-flex flex-column mb-3 align-items-center mt-3">
                    <strong>Pachito-Ché Pizza y Bar</strong>
                    <img class="logoEmpresa" src="~/img/Logo_Empresa.jpg">
                    
                    <span class="mt-1"><strong>NIT: </strong>9203272</span>
                    <span><strong>Telefono: </strong>311 332 3221</span>
                    
                </div>

                <hr>

                <div>

                    <div class="row">
                        <span class="col-8">Domicilio</span>
                        <input asp-for="Item2.PagoDomicilio" type="number" id="domicilio" name="PagoDomicilio" class="col-4 form-control text-end" value="0" min="0">
                    </div>

                    <div class="row mt-2">
                        <div class="col-8">
                            <select asp-for="Item2.TipoPago" name="TipoPago" class="col-12 form-select border-">
                                <option value="Efectivo">Efectivo</option>
                                <option value="Transferencia">Transferencia</option>
                                <option value="Efectivo/Transferencia">Efectivo/Transferencia</option>
                            </select>

                        </div>
                        <input asp-for="Item2.Pago" type="number" id="pago" name="Pago" class="col-4 form-control text-end" value="0" required>
                        <div class="invalid-feedback">El pago no debe de ser menor al total</div>
                    </div>

                    <div class="row mt-2">
                        <span class="col-8">Cambio al cliente</span>
                        <span class="col-4 text-end" id="texto-cambio">0</span>
                    </div>


                </div>

                <hr>

                <div class="d-flex flex-column align-items-center justify-content-between">
                    <p class="mb-0 display-4"><strong id="totalVenta">0</strong></p>
                    <input asp-for="Item2.TotalVenta" id="totalVenta-input" name="TotalVenta" hidden>
                    <p class="mb-0">Total</p>
                </div>
                @*<input type="hidden" asp-for="Item2.Total" value="@total" />*@

                <hr>
                <div class="w-100 d-flex flex-column mt-auto">
                    <button class="btn btn-primary botones-agregar" type="submit">Realizar venta</button>
                    <a class="btn btn-outline-danger border mt-2" asp-controller="Ventas" asp-action="CancelarVenta" asp-route-IdVenta="@ViewBag.IdVenta">Cancelar venta</a>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal"></h5>
                <button id="cerrar" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body" data-url="/Ventas/DetallesVentas?IdVenta=">
                Cargando Venta...
            </div>
        </div>
    </div>
</div>
<script src="~/js/ventas/ventas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@*-----VALIDACION DE CAMPOS EN TIEMPO REAL-----*@
<script>
    $(document).ready(function () {
        // Manejar el evento de cambio en el campo de PrecioInsumo
        $('#Item1_IdProducto').on('input', function () {
            ValidarProducto();
        });

        // Manejar el evento de cambio en el campo de Cantidad
        $('#Item1_CantVendida').on('input', function () {
            ValidarCantidad();
        });

        $('#pago').on('input', function () {
            ValidarPago();
        });

        function ValidarProducto() {
            var producto = $('#Item1_IdProducto').val();
            if (producto === '' || isNaN(producto)) {
                $('#Item1_IdProducto').addClass('is-invalid');
            } else {
                $('#Item1_IdProducto').removeClass('is-invalid');
                $('#Item1_IdProducto').addClass('is-valid');
            }
        }

        function ValidarCantidad() {
            var cantidad = $('#Item1_CantVendida').val();
            if (cantidad === '' || isNaN(cantidad) || cantidad < 1) {
                $('#Item1_CantVendida').addClass('is-invalid');

            }
            else {
                $('#Item1_CantVendida').removeClass('is-invalid');
                $('#Item1_CantVendida').addClass('is-valid');

            }
        }

        function ValidarPago() {
            var pago = $('#pago').val();
            var totalVenta = $('#totalVenta').text();
            totalVenta = parseInt(totalVenta);

            console.log(pago)
            console.log(totalVenta)
            if (pago === '' || isNaN(pago) || pago < totalVenta) {
                $('#pago').addClass('is-invalid');
            }
            else {
                $('#pago').removeClass('is-invalid');
            }
        }
    });
</script>

@* -----VALIDACION DE LOS CAMPOS CUANDO SE LE DA AL BOTON DE AGREGAR----- *@
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>