@model PF_Pach_OS.Models.DetalleVenta

@{
    ViewData["Title"] = "Create";
    ViewBag.accion = "Index";
    ViewBag.nombre = "Volver";
    ViewBag.controlador = "Ventas";
    ViewBag.mostrarModal = 1;

    int? totalVenta = 0;

    var detallesVentas = ViewData["DetallesVentas"] as List<DetalleVenta>;
}

@if (TempData.ContainsKey("Mensaje"))
{
    <div class="alert alert-info">
        @TempData["Mensaje"]
    </div>
}



<div class="ventas-contenedor">
    <div class="detalles-ventas">
        <form asp-controller="DetalleVentas" asp-action="Crear">
            <input type="number" value="@ViewBag.IdVenta" asp-for="IdVenta" hidden>
            <select asp-items="ViewBag.IdProducto" asp-for="IdProducto"></select>
            <input type="number" asp-for="CantVendida">

            <input type="submit" value="Agregar" class="btn btn-success" />
        </form>
    </div>
    <div class="lista-detalles">

        @if (detallesVentas == null || detallesVentas.Count == 0)
        {
            <div class="alert alert-info">
                Lista Vacia
            </div>
        }
        else
        {
            @foreach (var detalle in detallesVentas)
            {
                int? total = detalle.IdProductoNavigation.PrecioVenta * detalle.CantVendida;
                <div>

                    <label>@detalle.IdDetalleVenta</label>
                    <label>@detalle.IdProductoNavigation.NomProducto</label>
                    <label>@detalle.CantVendida</label>
                    <label>@detalle.IdProductoNavigation.PrecioVenta</label>
                    <label>@total</label>

                    <a asp-controller="DetalleVentas" asp-action="Delete" asp-route-id="@detalle.IdDetalleVenta" class="btn btn-outline-danger">Remover</a>
                </div>
                totalVenta += total;
            }
        }
    </div>
    <div class="info-venta">
        <form asp-controller="Ventas" asp-action="ConfirmarVenta" method="post">
            <input type="hidden" value="@ViewBag.IdVenta" asp-for="IdVenta">
            <div class="ventas-informacion">
                <span>
                    <label>Domicilio</label>
                    <input type="checkbox">
                </span>
                <input type="number" name="PagoDomicilio" placeholder="Domicilio">
            </div>

            <div class="ventas-informacion">
                <label>Total</label>
                <input type="number" name="TotalVenta" value="@totalVenta">
            </div>

            <div class="ventas-informacion">
                <label>Tipo Pago</label>
                <select name="TipoPago">
                    <option value="Efectivo">Efectivo</option>
                    <option value="transferencia">Transferencia</option>
                </select>
                <input type="number" name="Pago" value="">
            </div>

            <div class="ventas-informacion">
                <label>Cambio</label>
                <input type="number" value="">
            </div>

            <div class="ventas-informacion">
                <label>Fecha</label>
                <input type="date" value="">
            </div>

            <button type="submit" class="btn btn-outline-success">Vender</button>
        </form>
        
        
    </div>
</div>
