@model PF_Pach_OS.Models.DetalleVenta

@{
    int contadorDetalles = 0;
    List<DetalleVenta> listaDetalles = ViewBag.listaDetalles;
    Layout = null;
}

<div>
    <div class="w-100 d-flex flex-column mb-3 align-items-center">
        <span class="w-80 h4 mb-3 text-center"><strong>Pachito-ché</strong></span>
    </div>

    <hr>

    <div>
        <table class="table table-borderless mb-0">
            <thead>
                <tr class="text-gray bg-gray-300">
                    <th>#</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var detalle in listaDetalles)
                {
                    contadorDetalles += 1;
                    <tr>
                        <td>@contadorDetalles</td>
                        <td>@detalle.IdProductoNavigation.NomProducto</td>
                        <td>@detalle.CantVendida</td>
                        <td>@detalle.Precio</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr>

    <div>
        <span id="IdVenta" hidden>@Html.DisplayFor(model => model.IdVenta)</span>

        <div class="d-flex justify-content-between">
            <span class="">Domicilio</span>
            <span>@Html.DisplayFor(model => model.IdVentaNavigation.PagoDomicilio)</span>
        </div>
        <div class="d-flex justify-content-between">
            <span>@Html.DisplayFor(model => model.IdVentaNavigation.TipoPago)</span>
            <span id="pago">@Html.DisplayFor(model => model.IdVentaNavigation.Pago)</span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Cambio</span>
            <span class="ms-auto" id="texto-cambio">0</span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Fecha</span>
            <span>@Html.DisplayFor(model => model.IdVentaNavigation.FechaVenta)</span>
        </div>

    </div>
    <hr>
    <div class="d-flex flex-column align-items-center justify-content-between">
        <span class="mb-0 display-4"><strong id="totalVenta">@Html.DisplayFor(model => model.IdVentaNavigation.TotalVenta)</strong></span>
        <span class="mb-0">Total</span>
    </div>
</div>

<script src="~/js/ventas/detallesventas.js"></script>