@model ProductoVendidoModel
@using System.Globalization;

<link href="~/css/informes/estilos.css" rel="stylesheet" />
<link href="~/css/estructuracion.css" rel="stylesheet" />

@*Apertura nuevo codigo de diseño*@


<div>
    <div class="row m-4 h-50 d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-5 row justify-content-center align-items-center">
            <div class="col-12 col-md-6">
                <div class="h-25 border mt-3 rounded d-flex flex-column">
                    <span class="h-75 fs-4 text-center">
                        @((ViewBag.ventasMensuales % 1 == 0
                            ? ((decimal)ViewBag.ventasMensuales).ToString("C0", new CultureInfo("es-CO")).Replace(",", ".")
                            : "$ 0"))
                    </span>
                    <input type="hidden" id="input-totalVentas" value="@ViewBag.ventasMensuales">
                    <div class="d-flex justify-content-center px-4 ventas-colm">
                        <strong class="text-end">Ventas</strong>
                    </div>
                </div>
                <div class="h-25 border mt-3 rounded d-flex flex-column">
                    <span class="h-75 fs-4 text-center">
                        @((ViewBag.ventasMensuales % 1 == 0
                            ? ((decimal)ViewBag.comprasMensuales).ToString("C0", new CultureInfo("es-CO")).Replace(",", ".")
                            : "$ 0"))
                    </span>
                    <input type="hidden" id="input-totalCompras" value="@ViewBag.comprasMensuales">
                    <div class="d-flex justify-content-center px-4">
                        <strong class="text-end">Compras</strong>
                    </div>
                </div>
                <div class="h-25 border mt-3 rounded d-flex justify-content-center align-items-center">
                    <span id="icono"></span>
                    <div class="d-flex flex-column justify-content-center px-4">
                        <span class="h-75 fs-4 text-center" id="Diferencias">$0.00</span>
                        <strong class="text-end">Diferencia</strong>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="h-25 border mt-3 rounded d-flex flex-column">
                    <span class="h-75 fs-4 text-center">
                        @((ViewBag.efectivo % 1 == 0
                            ? ((decimal)ViewBag.efectivo).ToString("C0", new CultureInfo("es-CO")).Replace(",", ".")
                            : "$ 0"))
                    </span>
                    <div class="d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-cash-coin mr-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                            <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                            <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                        </svg>
                        <strong class="text-end">Efectivo</strong>
                    </div>
                </div>
                <div class="h-25 border mt-3 rounded d-flex flex-column">
                    <span class="h-75 fs-4 text-center">
                        @((ViewBag.transferencias % 1 == 0
                            ? ((decimal)ViewBag.transferencias).ToString("C0", new CultureInfo("es-CO")).Replace(",", ".")
                            : "$ 0"))
                    </span>
                    <div class="d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange" class="bi bi-credit-card mr-2" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
                        </svg>
                        <strong class="text-end">Transferencias</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 mt-2 h-75">
            <span>Productos con mas ingresos</span>
            <div class="h-50 border rounded d-flex flex-column p-2">
                <div class="d-flex justify-content-between">
                    <span id="producto0"></span>
                    <span id="totalProducto0"></span>
                </div>
                <div id="progreso0" class="progress" role="progressbar" aria-label="Success striped example">
                    <div class="progress-bar progress-bar-striped bg-success"></div>
                </div>

                <div class="d-flex justify-content-between">
                    <span id="producto1"></span>
                    <span id="totalProducto1"></span>
                </div>
                <div id="progreso1" class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="50">
                    <div class="progress-bar progress-bar-striped bg-info"></div>
                </div>

                <div class="d-flex justify-content-between">
                    <span id="producto2"></span>
                    <span id="totalProducto2"></span>
                </div>
                <div id="progreso2" class="progress" role="progressbar" aria-label="Warning striped example">
                    <div class="progress-bar progress-bar-striped bg-warning"></div>
                </div>

                <div class="d-flex justify-content-between">
                    <span id="producto3"></span>
                    <span id="totalProducto3"></span>
                </div>
                <div id="progreso3" class="progress" role="progressbar" aria-label="Danger striped example">
                    <div class="progress-bar progress-bar-striped bg-danger"></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-2 h-100">
            <button type="button" class="btn btn-primary botones-agregar h-100 w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
                    <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z" />
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1ZM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V8Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z" />
                </svg><br>
                Configurar Informe
            </button>
        </div>
    </div>
    <div class="col-12 h-50">
        <div class="card-body">
            <div class="d-flex">
                <p class="d-flex flex-column">
                    <span class="text-bold text-lg" id="totalVentasAnuales">$0.00</span>
                    <span>Ventas a lo largo del tiempo</span>
                </p>
                <p class="ml-auto d-flex flex-column text-right">
                    <span>
                        <span>@Html.Raw(ViewBag.graficaMostrar)</span>
                        <span class="@ViewBag.color">@ViewBag.aumentoDisminucion</span>
                    </span>
                    <span class="text-muted">Desde el mes pasado</span>
                </p>
            </div>

            <div class="position-relative mb-4">
                <canvas id="sales-chart" height="200"></canvas>
            </div>

            <div class="d-flex flex-row justify-content-end">
                <span class="mr-2">
                </span>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="staticBackdropLabel"><strong>Generar Informe</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="tipoInforme">Tipo de Informe:</label>
                        <select id="tipoInforme" class="form-select">
                            <option value="mensual">Mensual</option>
                            <option value="anual">Anual</option>
                        </select>
                    </div>
                    <div class="col-6 div-mes">
                        <label>Seleccione mes *</label>
                        <input type="month" class="form-control" id="mes">
                    </div>
                    <div id="divAnios" class="col-6 d-none">
                        <label for="anio">Selecciona un año:</label>
                        <select id="anio" class="form-select">
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                <button id="generarInforme" class="btn btn-primary botones-agregar btn-generar-informe" title="Genera el informe">Generar Informe</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/informe/informe.js"></script>

@*Fin de nuevo codigo de diseño*@