@model PF_Pach_OS.Models.CreateViewModel

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/productos.css" rel="stylesheet" />
<link href="~/css/productos/crear.css" rel="stylesheet" />

<div class="row pl-2 pt-2">

    <div class="col-4  ml-3 p-2 bg-white rounded border px-4 py-4">
        <form method="post" asp-action="Actualizar_Producto" asp-controller="Productos" class="needs-validation" novalidate id="formulario1">
            <h2>Producto</h2>
            <hr>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Producto.IdProducto" value="@ViewBag.IdProducto" />
            <div class="form-group">
                <label class="form-label">Producto * </label>
                @if (ViewBag.ProductoActivo == null)
                {
                    <input asp-for="Producto.NomProducto" id="Nombre" class="form-control" title=" " disabled/>
                }
                else
                {
                    <input asp-for="Producto.NomProducto" id="Nombre" value="@ViewBag.ProductoActivo.NomProducto" class="form-control" title=" " disabled />
                }
                <div id="mensaje_nombre" class="invalid-feedback"></div>

            </div>

            <div class="form-group">
                <label asp-for="Producto.PrecioVenta" class="form-label">Precio * </label>

                @if (ViewBag.ProductoActivo == null)
                {
                    <input asp-for="Producto.PrecioVenta" id="precio" class="form-control" title=" " disabled />

                }
                else
                {
                    <input asp-for="Producto.PrecioVenta" id="precio" value="@ViewBag.ProductoActivo.PrecioVenta" class="form-control" disabled />

                }
                <div id="mensaje_precio" class="invalid-feedback"></div>

            </div>

            <div class="form-group">
                <label asp-for="Producto.IdCategoria" class="form-label">Categoria * </label>
                <select class="form-select" id="Producto_IdCategoria" asp-for="Producto.IdCategoria" asp-items="ViewBag.IdCategoria" disabled >
                    @if (ViewBag.SelectCategoriaID == null)
                    {
                        <option value="" disabled selected>Seleccione una categoria</option>

                    }
                    else
                    {
                        <option value="@ViewBag.SelectCategoriaID">@ViewBag.SelectCategoria</option>

                    }
                </select>
                <div id="mensaje_categoria" class="invalid-feedback"></div>
            </div>

            <div id="Tamano_Oculto" class="d-none form-group">
                <label asp-for="Producto.IdTamano" class="form-label">Tamaño * </label>
                <select class="form-select" id="tamano" asp-for="Producto.IdTamano" asp-items="ViewBag.IdTamano" disabled>
                    @if (ViewBag.SelectTamanoID == null)
                    {
                        <option value="" disabled selected>Seleccione un Tamaño</option>

                    }
                    else
                    {
                        <option value="@ViewBag.SelectTamanoID">@ViewBag.SelectTamano</option>

                    }
                </select>

                <div id="mensaje_tamano" class="invalid-feedback"></div>

            </div>
            <div class="w-100 d-flex flex-column mt-auto">
                
                <a asp-action="Index" asp-controller="Productos" class="btn btn-outline-danger cancelarBtn mt-2">Volver al Index</a>
            </div>
        </form>


    </div>
    <div class="col-lg-6 col-md-2 mr-2 ml-5 mt-4">
        <h2 class ="tituloRecetas">Receta</h2>
        <div class="col-lg-12 mt-3 bg-white  overflow-scroll DetallesRecetas">
            


            @if (ViewBag.RecetasConInsumos == null)
            {
                <h4>No hay insumos de receta</h4>
            }
            else
            {
                <table id="miTabla" class="table table-borderless mb-0">
                    <thead>
                        <tr class="text-gray bg-gray-300">
                            <th>Insumo</th>
                            <th>Cantidad</th>
                            <th>Medida</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                    <tbody id="Tabla1">
                            @foreach (var recetaConInsumo in ViewBag.RecetasConInsumos)
                            {
                            <tr>

                                
                                <td>@recetaConInsumo.NomInsumo</td>
                                <td id="CantInsumo">@recetaConInsumo.CantInsumo</td>
                                <td>@recetaConInsumo.Medida</td>
                                
                                
                            </tr>


                            }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/productos/detalles.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
