@model IEnumerable<PF_Pach_OS.Models.Producto>

@{
    ViewData["Title"] = "Index";
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
}

<form asp-action="Create" method="post">
    <button type="submit" class="btn-crear-posicion estilo-btn-naranja">Crear Producto</button>
</form>

<div class="lista-productos rounded border">
    <table class="table mb-0 table-bordered table-striped">
        <thead class="table-warning">
            <tr>
                <th>Nombre Producto</th>
                <th>Precio Venta</th>
                <th>Estado </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Estado == 1)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NomProducto)</td>
                        <td>@Html.DisplayFor(modelItem => item.PrecioVenta)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                        <td>
                            @if (item.Estado == 0)
                            {
                                <form asp-action="Disable" asp-route-id="@item.IdProducto" method="post" class="align-self-end">
                                    <a asp-action="Details" asp-route-IdProducto="@item.IdProducto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                        </svg>
                                    </a>
                                    <button type="submit" class="btn btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </button>

                                </form>
                            }
                            else
                            {
                                <form asp-action="Enable" asp-route-id="@item.IdProducto" method="post" class="align-self-end">
                                    <a asp-action="Details" asp-route-IdProducto="@item.IdProducto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                        </svg>
                                    </a>
                                    <button type="submit" class="btn btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
            @foreach (var item in Model)
            {
                if (item.Estado == 0)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NomProducto)</td>
                        <td>@Html.DisplayFor(modelItem => item.PrecioVenta)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                        <td>
                            @if (item.Estado == 0)
                            {
                                <form asp-action="Disable" asp-route-id="@item.IdProducto" method="post" class="align-self-end">
                                    <a asp-action="Details" asp-route-IdProducto="@item.IdProducto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                        </svg>
                                    </a>
                                    <button type="submit" class="btn btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </button>

                                </form>
                            }
                            else
                            {
                                <form asp-action="Enable" asp-route-id="@item.IdProducto" method="post" class="align-self-end">
                                    <a asp-action="Details" asp-route-IdProducto="@item.IdProducto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                        </svg>
                                    </a>
                                    <button type="submit" class="btn btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



