@model IEnumerable<PF_Pach_OS.Models.Producto>

@{
    ViewData["Title"] = "Index";
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
}

<h1>Index</h1>

<p>
   <form asp-action="Create" method="post">
       <button type="submit">Crear Producto</button>
   </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
           
            <td>
                
                    
               
                    @if (item.Estado == 0)
                    {
                        <form asp-action="Disable" asp-route-id="@item.IdProducto" method="post" class="align-self-end">
                            <a asp-action="Details" asp-route-IdProducto="@item.IdProducto">Editar</a> |
                            <button type="submit" class="btn btn-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </button>
                            
                        </form>
                    }
                    else
                    {
                        <form asp-action="Enable" asp-route-id="@item.IdProducto" method="post" class="align-self-end">
                            <a asp-action="Details" asp-route-IdProducto="@item.IdProducto">Editar</a> |
                            <button type="submit" class="btn btn-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </button>
                            
                        </form>
                    }





            </td>
        </tr>
}
    </tbody>
</table>
<!-- Ventana modal -->


